= content_for :title, 'My reading plans'

%h1 Account
%h3 Reading Plans

%table.table.table-striped
  %thead
    %tr
      %th Reading Plan
      %th Start date
      %th
  %tbody
    - current_user.schedules.each do |schedule|
      %tr
        %td= link_to schedule.name, schedule_path(schedule)
        %td= schedule.start_date
        %td= link_to 'delete', schedule_path(schedule), class: 'btn btn-default', method: 'DELETE'
