%h1 Create schedule
= simple_form_for @schedule do |f|
  %h3 New testament
  = f.collection_check_boxes :book_ids, @books.where(testament: Book.testaments[:new_testament]), :id, :name

  %h3 Old testament
  = f.collection_check_boxes :book_ids, @books.where(testament: Book.testaments[:old_testament]), :id, :name

  = f.button :submit

:css
  span {
    display: block
  }
