#headerwrap
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %h3 Want to read more but can't plan your reading?
        %h1 Read Your Scriptures
        %h5 Be notified, what to read today
        %h5= link_to 'create Your reading plan', new_schedule_path, class: 'btn btn-info btn-sm'
      .col-lg-8.col-lg-offset-2.himg
        = image_tag("learning.png", class: "img-responsive")
