#footerwrap>
  .container>
    .row>
      .col-lg-4
        %h4 About
        .hline-w
        %p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      .col-lg-4
        %h4 Social Links
        .hline-w
        %p
          %a{:href => "#"}
            %i.fa.fa-dribbble
          %a{:href => "#"}
            %i.fa.fa-facebook
          %a{:href => "#"}
            %i.fa.fa-twitter
          %a{:href => "#"}
            %i.fa.fa-instagram
          %a{:href => "#"}
            %i.fa.fa-tumblr
      .col-lg-4
        %h4 Our Bunker
        .hline-w
        %p
          Some Ave, 987,
          %br/
          23890, New York,
          %br/
          United States.
          %br/
