%ul.sidebar-menu
  %li.header MENU
  %li{:class => active_menu('users') }
    %a{:href => admin_users_path }
      %span Users
  %li{:class => active_menu('books') }
    %a{:href => admin_books_path }
      %span Books
  %li{:class => active_menu('book_categories') }
    %a{:href => admin_book_categories_path }
      %span Book categories
